body {
    background-color: rgb(206, 205, 197);
}


div,

.square1,
.square2,
.square3,
.square4 {
    background-color: black;
    height: 120px;
    width: 120px;
    margin: 10px auto;
}

.square1 {
    opacity: 1;
}

.square2 {
    opacity: 0.7;
}

.square3 {
    opacity: 0.5;
}

.square4 {
    opacity: 0.2;
}

